@import "../../styles/Variables.scss";
@import "../../styles/Breakpoints.scss";

.nav {
  width: 100%;
  position: relative;
  top: 0;
  background-color: map-get($colors, superLightBrown);
  @include sm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
  }
}
.nav-ppal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5%;
  button:focus {
    outline: 0;
    background-color: map-get($colors, lightBrown);
  }
  button:hover {
    border: none;
  }
  img {
    height: 40px;
  }
  @include sm {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
}
.nav-ppal-dropdown {
  display: none;
  @include sm {
    display: flex;
    color: map-get($colors, darkBrown);
    padding-left: 2rem;
    h2 {
      font-size: map-get($fontSizes, header);
      font-weight: map-get($fontWeight, semibold);
      margin: 0;
      padding-right: 0.5rem;
    }
    .nav-ppal-dropdown-subject {
      display: flex;
      align-items: center;
    }
  }
}
.nav-ppal-favorites {
  display: none;
  @include sm {
    display: flex;
    color: map-get($colors, darkBrown);
    padding-left: 1rem;
    font-size: map-get($fontSizes, header);
    font-weight: map-get($fontWeight, semibold);
  }
}
.nav-ppal-mobile-button {
  background-color: map-get($colors, superLightBrown);
  padding: 0;
  border: 0;
  border-radius: 0.5rem;
  @include sm {
    display: none;
  }
}

.side-nav-primary-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
  .side-nav-mobile-login-button, .side-nav-mobile-favorite-button {
    display: flex;
    width: 25%;
    background-color: map-get($colors, lightBrown);
    padding: 1rem 0;
    justify-content: center;
    border-radius: 0.8rem;
  }
}

.nav-auth {
  display: none;
  @include sm {
    display: flex;
    margin-right: 1rem;
    color: map-get($colors, darkBrown);
    font-size: map-get($fontSizes, primary);
    font-weight: map-get($fontWeight, semibold);
  }
}

.nav-active {
  position: absolute;
  background-color: map-get($colors, superLightBrown);
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 50;
  img {
    display: none;
  }
  .nav-searchbar {
    display: none;
  }
  .side-nav-mobile {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .side-nav-mobile-login {
    text-align: center;
    background-color: white;
  }
}
