@import "../../styles/Variables.scss";

.change-password {
  width: 50%;
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
  h3 {
    text-align: center;
    padding-bottom: 1rem;
  }
}

.change-password-form-content {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  input {
    padding: 0.2rem 0.5rem;
    width: 100%;
  }
}

.change-password-form-button {
  width: 100%;
  background-color: map-get($colors, lightBrown);
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem;
  color: map-get($colors, darkBrown);
  font-weight: map-get($fontWeight, bold);
  font-size: map-get($fontSizes, secondary);
}
