@import "../../styles/Variables.scss";

.dropdown-max-dropdown{
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.max-dropdown{
    border-color: map-get($colors , darkBrown );
    background-color: map-get($colors , superLightBrown );
    color:  map-get($colors , darkBrown );
    font-weight: map-get($fontWeight, bold );
    font-size: map-get($fontSizes, secondary );
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}
