$colors: (
  lightBrown: #daaa63,
  darkBrown: #2c1810,
  backgroundBrown: #f2e5d0,
  superLightBrown: #f9f3ee,
);

$fontSizes: (
  header: 21px,
  title: 25px,
  primary: 18px,
  secondary: 16px,
  tertiary: 14px,
);

$fontWeight: (
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
);
